@import "../../../css-config/mixins.scss";

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0 auto;

  @include md {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
  }

  .about-banner-1,
  .about-banner-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;

    .about-banner-1-img,
    .about-banner-2-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    .about-banner-1-text,
    .about-banner-2-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 50%;
      height: 100%;
      padding: 5px;
      line-height: 12px;
      font-size: 10px;
      gap: 10px;

      h1 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
      }

      @include md {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 50%;
        height: 100%;
        gap: 25px;
        padding: 50px;
        line-height: 20px;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  .about-banner-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
    gap: 20px;

    .about-banner-3-top-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      text-align: center;
      width: 100%;
      height: 50%;
      gap: 10px;
      font-size: 12px;

      @include md {
        font-size: 15px;
      }
    }
    .about-banner-3-bottom-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      gap: 10px;

      img {
        border-radius: 100%;
        width: 60px;

        @include md {
          width: 100px;
        }
      }
    }
  }

  .about-banner-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    line-height: 20px;
    font-size: 10px;
    margin: 50px 0;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      line-height: 25px;
      margin: 50px 0;
      font-size: 15px;
    }
  }

  .about-banner-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    h1 {
      margin-bottom: 20px;
      font-size: 18px;
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5px;
    }

    .testimonial{
      position: relative;
      justify-content: center;
      display: flex;
      width: 100%;
      height: 520px;
      padding: 10px;

      @include md{
      position: relative;
      display: flex;
      width: 600px;
      height: 400px;
      padding: 10px;
      }
    }

    .slide-hidden{
      display: none;
    }

    .arrow{
      position: absolute;
      width: 30px;
      height: 30px;
      color: red;

      &:hover{
        cursor: pointer;
      }
    }
    
    .testimonial-left-arrow{
      left: 15px;
    }
    .testimonial-right-arrow{
      right: 15px;
    }

    .indicators{
      display: flex;
      position: absolute;
      bottom: 10px;
      gap: 10px;
    
      .indicator-button{
        cursor: pointer;
        background-color: green;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        border: none;
        outline: none;
      }

      .indicator-button-inactive{
        background-color: transparent;
        border: 0.5px solid red;
      }
    }

    .slide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;

    @include md{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
    }

    .img-name{
      display: flex;
      align-items: center;
      gap: 10px; 
      margin-bottom: 20px;

      @include md{
        width: 500px;
      }

      .customer-name{
        font-size: 18px;
        color: gray;
      }

      img{
        width: 70px;
        border-radius: 50%;
      }
    }

    .review{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }

  }

  }



}
