@import '../../../css-config/mixins.scss';

.product-card{
    cursor: pointer;
    width: calc(50% - 5px);
    margin-bottom: 20px;
        
        @include md{
            width: calc(25% - 15px);
        }

        .thumbnail{
            display: flex;
            align-items: center;
            width: 100%;
            height: 180px;
            background-color: rgba(0,0,0,0.05);
            margin-bottom: 10px;
            padding: 10px;

            @include md{
                height: 200px;
            }

            @include lg{
                height: 300px;
            }
      

            img{
                transition: all ease 0.3s;
                display: block;
                width: 100%;
                height: 100%;
                mix-blend-mode: darken;
            }
        }

        .product-details{
            .name{
                display: block;
                font-size: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                    @include md{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
            }

            .price{
                font-size: 18px;

                @include md{
                    font-size: 24px;
                }
            }
        }

        &:hover{
            .thumbnail {
                img{
                    transform: scale(1.1);
                }
            }
        }
}